/.idea
/__pycache__
cogs/deep/checkpoints/*
!cogs/deep/checkpoints/.gitkeep
cogs/deep/driving_video/*
!cogs/deep/driving_video/.gitkeep
cogs/deep/video/*
!video/.gitkeep
cogs/deep/crop.mp4
cogs/deep/final.mp4
cogs/deep/result.mp4
image.png
key.txt
cogs/deep/list.yaml
